
.d_none{
    display: none;
}

header{
background-color: orange;
width: 100%;
height: 75px;
display: flex;
justify-content: center;
}

.header_Content{
    max-width: 1980px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main{
    min-height: 100vh;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;

}


.store_items{
    width: calc(100% - 250px);
    padding: 0px;
    display: flex;
    flex-direction: column;
    max-width: 1980px;
    
}

.restaurant_content_header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.restaurant_textbox{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 0px;
    gap: 15px;
}

.food_order_warper{
    background-color: #f1f1e2b0;
    padding: 15px;
    margin-top: 15px;
    gap: 15px;
    display: flex;
    align-items: center;

}

.food_order_area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.all_maindish_render_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 12px;
}
.maindish_divs{
    width: 100%;
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.26);
    padding:10px;
}

.maindish_divs:hover{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.527);
}

.maindish_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maindish_add_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.all_desserts_render_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 12px;
}

.all_nonalk_render_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 12px;
}
.all_alk_render_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 12px;
}

.testItem{
    padding: 20px;
    font-size: 48px;
    height: 1500px;
    width: 100%;
    background-color: blue;
}

.basket_wrapper{
    width: 250px;
    flex-grow: 1;
    /* padding: 16px; */
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.527);
    max-width: 250px;
}

.basket{
width: 100%;
height: 370px;
position: sticky;
top: 0px;
}

.price_list{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.price_names{
    display: flex;
    flex-direction: column;
}
.total_price{
    display: flex;
    flex-direction: column;
    text-align: end;
}



.all_dishes_render_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    min-height: 128px;
}

.transaktion{
    width: 100%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
}




footer{
    width: 100%;
    height: 70px;
    background-color: orange;
}