.header_imgs{
    width: 150px;
}

.spaghetti_bolognese{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.spaghetti_bolognese2{
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.dessert_img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
}

.restaurant_Img_header{
    width: 130px;
    border-radius: 90px;
    position: absolute;
    top: 200px;
    border: 2px solid orange;
}

.restaurant_name{
    font-size: 35px;
    color: black;
}

.restaurant_rating{
    color: orange;
    font-size: 20px;
}

.span_food_order_warper{
    color: grey;
    text-decoration: none;
}

.span_food_order_warper:hover{
    color: orange;
    cursor: pointer;
    transform: scale(1.05);
    

}

.maindishtext{
    font-size: larger;
    margin-left: 15px;
}

.price_span{
    color: orangered;
    font-weight: 600;
}

.maindish_add_img{
    width: 10px;
    height: 10px;
    border: 2px solid rgba(128, 128, 128, 0.411);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 14px;
}

.maindish_add_img:hover{
    background-color: rgba(151, 151, 151, 0.192);
    cursor: pointer;
}

.add_symbole{
    color: orangered;
    font-size: 40px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: orange; 
  }

  .basket_h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .seperator{
    height: 2px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.366);
  }

  .minus{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .minus_span{
    font-size: 40px;
    color: orange;
  }

  .minus_span:hover{
    color: rgb(187, 123, 4);
    cursor: pointer;
  }

  .number_of_dishes{
    margin-left: 10px;
    margin-right: 10px;
  }

  .gesammt_summe{
    margin-left: 20px;
    margin-right: 10px;
  }

.trash_can{
    width: 25px;
    height: 25px;
}

.trash_can:hover{
background-color: rgba(128, 128, 128, 0.393);
}

.for_button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button{
  background-color: orange;
  border:solid rgb(204, 134, 3);
  border-radius: 10px;
  padding: 10px 80px 10px 80px;
  font-size: 20px;
}
button:hover{
  background-color: rgb(204, 134, 3);
  border:solid orange;
  cursor: pointer;

}


.button_overlay{
  background-color: orange;
  border:solid rgb(204, 134, 3);
  border-radius: 10px;
  padding: 10px 80px 10px 80px;
  font-size: 20px;
}
.button_overlay:hover{
  background-color: rgb(204, 134, 3);
  border:solid orange;
  cursor: pointer;

}

.error{
  color: red;
}

.order_confirmation_div{
  width: 100%;
  display: flex;
  padding: 10px;
  
}

.order_confirmation{
  color: green;
}

.dree_menu_overlay img{
  width: 100%;
  min-width: 50px;
}

.dree_menu_overlay{
  display: none;
  width: 150px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: #319fd1;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  left :auto;
  right: unset;
}

.dree_menu_overlay:hover{
background-color: orange;
border: 2px solid black;
color: white;
}

.footer_img{
  width: 118px;
}

.items{
  background-color: white;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -7px;
  border: solid 1px black;
}